<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/EditProductStyle.css' %}">
    <title>Edit Product</title>
</head>
<body>
    {% if messages %}
    <ul class="messages" style="color: red">    
        {% for message in messages %}    
            <li>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <div class="dash"><a href="http://localhost:8000/dashboard/products">Dashboard</a></div>
    <div class="title"><h1>Edit Product</h1></div>
    <div class="register">
    <div>
        <form action="/edit/{{TheProduct.id}}" method="POST">
        {% csrf_token %}
        <h2 class="text" style="margin-bottom: 10px;">Product Name</h2>
        <input type="text" name="name" value="{{TheProduct.name}}" style="margin-bottom: 10px;">
        <h2 class="text" style="margin-bottom: 10px;">Description</h2>
        <input type="text" name="description" value="{{TheProduct.description}}" style="margin-bottom: 10px;">
        <h2 class="text" style="margin-bottom: 10px;">Category</h2>
        <input type="text" name="category" value="{{TheProduct.category}}" style="margin-bottom: 10px;">
        <h2 class="text" style="margin-bottom: 10px;">Images</h2>
            <Button type="button" class="btn btn-secondary" style="margin: 20px;"><h5>Upload Images</h5></Button>
        <br><div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-info">Preview</button>
            <a href="http://localhost:8000/dashboard/products"><button type="button" class="btn btn-danger">Cancel</button></a>
        </div>
        </form>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>