body {
    background: url("../img/universe-1800259_1920.jpg");
    height: 600px;
    width: 1536px;
}

div {
    height: 460px;
    width: 600px;
    
}

h1 {
    font-family: "Sofia", sans-serif;
    text-align: center;
}

.reg {
    height: 120px;
    text-align: right;
    padding: 10px;
    width: 1536px;
}

.jumbotron {
    margin-left: 75px;
}